<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Plataforma Escolar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: rgb(118,77,65);
            background: linear-gradient(91deg, rgb(78, 30, 15) 2%, rgba(79,28,15,1) 15%, rgba(87,38,25,1) 50%, rgb(102, 53, 39) 100%, rgba(79,28,15,1) 100%);
            color: #cabebe;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
