.shadow-wrap {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-wrap {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-for {
    max-width: 400px;
    margin: auto;
}

.signup-form {
    width: 100%;
}

.signup-form .form-control {
    background-color: #945b35;
    color: #fff; 
    border-color: #fff; 
}

.btn-coffee {
    background-color: #fff; 
    color: #664110; 
    border-color: #412d04;
    width: 100%; 
}

.btn-coffee:hover {
    background-color: #583521; 
    color: #fff; 
}

.text-white {
    color: #fff; 
}

.shadow {
    box-shadow: 0px 0px 10px rgba(82, 3, 3, 0.2);
}

.mt-3 {
    margin-top: 1rem !important; 
}

.text-register {
    color: #582202; 
    text-decoration: none;
}

.text-register:hover {
    color: #291c02; 
}

@media (max-width: 576px) {
    .signup-form {
        max-width: 90%; 
    }
}
