{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="shadow p-4 rounded" style="max-width: 400px; width: 100%; background-color: #945b35;">
        <h3 class="mb-4 text-center text-white">Iniciar Sesión</h3>
        <form method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-coffee btn-block">Ingresar</button>
        </form>
        <p class="text-center mt-3"><a href="{% url "base:authView" %}" class="text-white">¿No tienes cuenta? Regístrate</a></p>
    </div>
</div>
{% endblock content %}
